.Rproj.user
.Rhistory
.RData
.Ruserdata
rawdata-slopes.csv
spot0.jpg
spot1.jpg
spot2.jpg
spot3.jpg
spot4.jpg
spot5.jpg
spot6.jpg
spot7.jpg
spot8.jpg
spot9.jpg
spot10.jpg
201801030629-2018-01-02_Leupeptin 200 spot_1 processed.xls
drive-download-20181023T204040Z-001.zip
